<meta charset="utf-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prison Break Fansite</title>

<!-- custom stylesheet and bootstrap CDN for styling-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">

<!-- favicons  -->
<link rel="shortcut icon" href="/img/favicon-32x32.png">
