<meta charset="utf-8">
<title>Prison Break Fansite</title>

<!-- custom stylesheet and bootstrap CDN for styling-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/23.1.0/jssor.slider.min.js">

<!-- favicons  -->
<link rel="shortcut icon" href="/img/favicon-32x32.png">
