div class="container">
  <h1 class="display-1">Welcome to the official fansite</h1>
  <img class="thumbnail" src="/img/prison-break.jpg" alt="Banner image" height="70%" width="70%">

  <blockquote class="blockquote blockquote-reverse">
    <p class="mb-0">Be the change you want to see in the world.</p>
    <footer class="blockquote-footer">Michael Schoffield <cite title="Source Title">Prison Break</cite></footer>
  </blockquote>

  <!-- include the footer from the partials -->
  <footer> <% include ../partials/footer %> </footer>
</div>
</body>
</html>
