<!DOCTYPE html>
<html>
  <head>
    <!-- include the head from partials -->
    <% include ../partials/head %>
    <title>Express + EJS</title>
  </head>
  <body>

    <!-- include the header from the partials -->
    <header>
      <% include ../partials/header %>
    </header>

    <!-- main container  -->
    <div class="container">
      <img class="thumbnail" src="/img/prison-break1.jpg" alt="Banner image" height="10%" width="80%">
      <h3 class="display-1">TV Series Facts</h3>
      <h3>
        First Season First Aired <small class="text-muted">August 29, 2005</small>
      </h3>

      <h3>
        First Season Last Aired <small class="text-muted">May 15, 2006</small>
      </h3>

      <h3>
        Genre <small class="text-muted">	Serial drama, Crime drama, Action thriller</small>
      </h3>

      <h3>
        Created By <small class="text-muted">Paul Scheuring</small>
      </h3>

      <h3>
        Origin Country <small class="text-muted">United States</small>
      </h3>

      <h3>
        Original Languages <small class="text-muted">English, Spanish</small>
      </h3>

      <h3>
        Number of Seasons <small class="text-muted">5</small>
      </h3>

      <h3>
        Number of Episodes <small class="text-muted">5</small>
      </h3>

      <h3>
        Running Time <small class="text-muted">42 mins</small>
      </h3>

      <h3>
        Picture Format <small class="text-muted">	480i (SDTV), 720p (HDTV), 1080i (HDTV)</small>
      </h3>

      <h3>
        Picture Format <small class="text-muted">	Marty Adelstein,
        Neal H. Moritz</small>
      </h3>

      <h3>
        Starring <small class="text-muted">Dominic Purcell
        Wentworth Miller
        Robin Tunney
        Peter Stormare
        Amaury Nolasco
        Marshall Allman
        Wade Williams
        Paul Adelstein
        Robert Knepper
        Rockmond Dunbar
        Sarah Wayne Callies
        William Fichtner
        Chris Vance
        Robert Wisdom
        Danay García
        Jodi Lyn O'Keefe
        Michael Rapaport
        Mark Feuerstein
        Inbar Lavi
        Augustus Prew</small>
      </h3>

      <!-- include the footer from the partials -->
      <footer> <% include ../partials/footer %> </footer>
    </div>
  </body>
</html>
