<!DOCTYPE html>
<html>
  <head>
    <!-- include the head from partials -->
    <% include ../partials/head %>
    <title>Gallery</title>
  </head>
  <body>

    <!-- include the header from the partials -->
    <header>
      <% include ../partials/header %>
    </header>

    <!-- main container  -->
    <div class="container">
      <h1 class="display-1">Welcome to the official fansite</h1>
      <img class="thumbnail" src="/img/prison-break.jpg" alt="Banner image" height="70%" width="70%">

    <!-- include the footer from the partials -->
    <footer> <% include ../partials/footer %> </footer>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/23.1.0/jssor.slider.min.js"></script>
</body>
</html>
