
<!DOCTYPE html>
<html>
  <head>
    <!-- include the head from partials -->
    <% include ../partials/head %>
  </head>
  <body>

    <!-- include the header from the partials -->
    <header>
      <% include ../partials/header %>
    </header>

    <!-- main container  -->
    <div class="container">
      <h1 class="display-1">Welcome to the official fansite</h1>
      <img class="thumbnail" src="https://cdn.mobipicker.com/wp-content/uploads/2017/03/4221396001_5279170183001_5279161719001-vs.jpg?x22722" alt="Banner image" height="50%" width="100%">
      <aside class="lead">
        <p>Prison Break is an American television serial drama created by Paul Scheuring, that was broadcast on Fox for four seasons from 2005 to 2009, and a fifth season in 2017. The series revolves around two brothers, one of whom has been sentenced to death for a crime he did not commit, and the other who devises an elaborate plan to help his brother escape prison and clear his name. </p>

        <p>The series was produced by Adelstein-Parouse Productions, in association with Original Television and 20th Century Fox Television. Along with creator Paul Scheuring, the series is executive produced by Matt Olmstead, Kevin Hooks, Marty Adelstein, Dawn Parouse, Neal H. Moritz, and Brett Ratner who directed the pilot episode. The series' theme music, composed by Ramin Djawadi, was nominated for a Primetime Emmy Award in 2006. Read more : <a href="https://www.wikipedia.com/prison-break">here</a></p>
      </aside>

      <!-- include the footer from the partials -->
      <footer> <% include ../partials/footer %> </footer>
    </div>
  </body>
</html>
