
<!DOCTYPE html>
<html>
  <head>
    <!-- include the head from partials -->
    <% include ../partials/head %>
    <title>Express + EJS</title>
  </head>
  <body>

    <!-- include the header from the partials -->
    <header>
      <% include ../partials/header %>
    </header>

    <!-- include the footer from the partials -->
    <footer> <% include ../partials/footer %> </footer>

  </body>
</html>
