<!DOCTYPE html>
<html>

  <head>
    <!-- include the head from partials -->
    <% include ../partials/head %>
    <title>Prison Break Fansite</title>
  </head>

  <body>
    <!-- include the header from the partials -->
    <header>
      <% include ../partials/header %>
    </header>

    <!-- main container  -->
    <div class="container">
      <h1 class="display-1">Current News</h1>
    </div>
    <div>
      <!-- display articles -->
      <% Object.keys(articles).forEach(function (id) { %>
        <article>
          <h2><%= articles[id].title %></h2>
          <p><%= articles[id].content %></p>
          <img class="thumbnail" src="<%= articles[id].image %>">
          <a href=<%= articles[id].link %>>Link </a>
        </article>
      <% }) %>
      <!-- footer -->
      <% include ../partials/footer %>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </body>
  </html>
